.support {
    width: 100%;
    max-width: 1160px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1.5px solid #4D4D4D;
    border-bottom: 1.5px solid #4D4D4D;

    padding: 20px 0;

    margin: 120px auto 140px;
}

.title {
    width: 100%;
    max-width: 164px;

    font-size: 22px;
}

.support-list {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.support-list-item {
    padding: 25px 75px;
}

.support-list-image {
    width: 100%;
}

.support-image-spotify {
    max-width: 128px;
}

.support-image-google {
    max-width: 198px;
}

.support-image-youtube {
    max-width: 124px;
}