.app {
    width: 100%;
    /*max-width: 1440px;*/

    display: flex;
    flex-direction: column;

    background-color: #F7EDE8;

    font-family: 'MontserratAlternates-Bold', sans-serif;
    font-size: 14px;
    color: #000;

    margin: 0 auto;
}